{{> head }}
    {{> navbar }}
    <div class="row">
        <div class="col-8">
            <h1>About</h1>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos, labore aut pariatur accusantium beatae distinctio vero autem exercitationem, delectus ad magni veniam voluptatibus, neque quis quam quo eveniet! Numquam, cumque.
            </p>
        </div>
        <div class="col-4">
            <img src="assets/img/donaciones-variante.jpg" alt="" class="img-thumbnail">
        </div>
    </div>
{{> footer }}